.first-nav {
    /* background-color: #EEEEEE; */
    height: 30px;
}

.col-2 {
    /* border: 1px solid black; */
}

.col-10 {
    position: relative;
    left: 100px;
    /* border: 1px solid black; */
}

.fw-bold {
    font-size: 13px;
}

.logo {
    width: 200px;
}

.donate {
    background-color: #0D6DB7;
    transition: transform 0.2s;
}
.sponsor {
    background-color: #8DC63F;
    transition: transform 0.2s;
}
.donate:hover {
    transform: scale(1.1);
}
.sponsor:hover {
    transform: scale(1.1);
}
.first-section {
    background-image: url("images/caruosal.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 10px;
}
.navbar {
    border-bottom: 2px solid #E7E7E7;
}
.section-1 {
    position: relative;
    top: 120px;
}

.para {
    font-size: 18px;
    width: 90%;
}
.side {
    width: 500px;
}
.service-2>div {
    width: 22rem;
}

.cards {
    transition: transform 0.2s;
    height: 150px;
    width: 170px;
    background-color: #F3FCE2;
}
.cards:hover {
    transform: scale(1.1);
}
.card {
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.04);
}
.card-img-top {
    filter: brightness(40%);
}
.card-img-top:hover {
    filter: brightness(70%);
}
figure {
    font-weight: 600;
}

figcaption {
    margin-top: 10px;
}

a.btn {
    background-color: #8DC63F;
}
#foot-section{
    background-color: hsl(0, 0%, 26%);
    /* background-image: url("images/foot-bg.png") !important; */
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: .1; */
    /* background-blend-mode: darken; */
    /* filter: brightness(30%); */

}

.logo-img {
    width: 300px;
}

.social>div>a>img {
    border-radius: 5px;
    width: 40px !important;
    height: 40px !important;
}

#what {
    border-radius: 5px;
    width: 40px !important;
    height: 40px !important;
    background-color: #008000;
}

#whatsapp {
    height: 24px !important;
    width: 24px !important;
}

.list>li {
    line-height: 40px;
    /* font-family: monospace; */
}

span.address {
    font-size: 13px;
}

.row>div {
    /* border:1px solid black */
}

.about {
    width: 200px;
}

.contact {
    width: 320px;
}

.acca {
    width: 200px;
}

 

@media only screen and (max-width: 600px) {
    .first-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }

    .first-nav>div>a {
        font-size: 12px;
    }

    .col-10 {
        left: 10px;
    }

    .logo {
        width: 200px;
        position: relative;
        right: 60px;
    }

    .ham {
        position: relative;
        left: 50px;
    }

    .side {
        width: 220px;
        padding-top: 10px;
    }

    .eng {
        font-size: 14px !important;
        display: block;
        width: 80px;
        height: 30px;
        padding: 4px 19px !important;
        /* flex-basis: 80px !important; */
        /* border: 1px solid black; */
        border: 1px solid rgb(217, 217, 217);
    }

    .pos {
        position: relative;
        right: 40px;
    }

    .section-1 {
        top: 20px;
    }

    .section-1>h1 {
        font-size: 30px;
    }

    .section-1>h3 {
        font-size: 18px;
    }

    .section-1>p {
        font-size: 12px;
    }

    .section-1>button>a {
        font-size: 12px;
    }
    
    .service {
        flex-direction: column;
        gap: 30px;
    }

    .cards {
        width: 100%;
    }

    .service-2 {
        flex-direction: column;
        gap: 10px;
    }

    .service-2>div {
        width: 100%;
    }
    .service {
        flex-direction: column;
        gap: 30px;
    }

    .cards {
        width: 100%;
    }

    .service-2 {
        flex-direction: column;
        gap: 10px;
    }

    .service-2>div {
        width: 100%;
    }

    .logo-img {
        width: 450px;
        display: block;
    }

    .footer-content {
        width: 450px;
        padding: 0;
        margin: 0 auto;
    }

    .row-foot {
        display: flex;
        flex-direction: column;
    }

    .social {
        width: 190px;
        margin: 30px auto 0 auto !important;
        padding: 0 !important;
        /* border: 1px solid black; */
    }

    .about {
        padding: 0;
        width: 170px;
        margin: 10px auto;
        text-align: center;
    }

    .list {
        padding: 0;
    }

    .list>h4,
    .list>li {
        margin-left: 0px !important;
        padding: 0 !important;

    }

    .list>li {
        font-size: 14px;
    }

    .explore {
        text-align: center;
        width: 100px;
        margin: 0 auto;
    }

    .contact {
        text-align: center;
        padding: 0 !important;
        margin: 0 auto 10px auto;
        /* border: 1px solid black; */
        /* line-height: 1em !important; */
    }

}